{{#each this}}
  <div class="country">
     <h1 class="country__name">{{name}}</h1>
    <div class="country__block">
      <div class="country__main">
        <div class="info-item">
          <span class="info-title">Capital:</span>
          <span class="info-description">{{capital}}</span>
        </div>
        <div class="info-item">
          <span class="info-title">Population:</span>
          <span class="info-description">{{population}}</span>
        </div>
        <div class="info-item">
          <span class="info-title">Languages:</span>
          <ul class="languages">
            {{#each languages}}
              <li class="languages__item">
                {{name}}
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
      <div class="country__flag">
        <img class="flag-image" src="{{flag}}" alt="flag">
      </div>
    </div>
  </div>
{{/each}}
